.view {
    background-color: azure;
}


.App {
    text-align: center;
}

.todolist {
    height: 78px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px #000;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.list {
    overflow-y: auto;
    overflow-wrap: break-word;
    width: 100%;
    cursor: pointer;
}

.list-delete {
    overflow-y: auto;
    overflow-wrap: break-word;
    width: 100%;
    text-decoration: line-through;
    cursor: pointer;
}

.index {
    flex: auto;
}